<h2 mat-dialog-title class="!text-2xl !font-bold !text-orangeDark text-center mb-4">{{ data.mode === 'edit' ? 'עריכת נועץ' : 'הוספת נועץ' }} </h2>
<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="create()" class="space-y-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>שם פרטי</mat-label>
      <input matInput type="text" id="first_name" formControlName="first_name" required>
      <mat-error *ngIf="formGroup.controls['first_name'].errors | hasErrors: 'first_name'">
        <span *ngFor="let error of [formGroup.controls['first_name'].errors | getError]" [innerText]="error"></span>
      </mat-error>
    </mat-form-field>

    <!-- שם משפחה -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>שם משפחה</mat-label>
      <input matInput type="text" id="last_name" formControlName="last_name" required>
      <mat-error *ngIf="formGroup.controls['last_name'].errors | hasErrors: 'last_name'">
        <span *ngFor="let error of [formGroup.controls['last_name'].errors | getError]" [innerText]="error"></span>
      </mat-error>
    </mat-form-field>

    <!-- טלפון -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>טלפון</mat-label>
      <input matInput type="text" id="phone" formControlName="phone" required>
      <mat-error *ngIf="formGroup.controls['phone'].errors | hasErrors: 'phone'">
        <span *ngFor="let error of [formGroup.controls['phone'].errors | getError]" [innerText]="error"></span>
      </mat-error>
    </mat-form-field>

    <!-- אימייל -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>אימייל</mat-label>
      <input matInput type="email" id="email" formControlName="email" required>
      <mat-error *ngIf="formGroup.controls['email'].errors | hasErrors: 'email'">
        <span *ngFor="let error of [formGroup.controls['email'].errors | getError]" [innerText]="error"></span>
      </mat-error>
    </mat-form-field>

    <!-- תעודת זהות -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>תעודת זהות</mat-label>
      <input matInput type="password" id="password" formControlName="password" required>
      <mat-error *ngIf="formGroup.controls['password'].errors | hasErrors: 'password'">
        <span *ngFor="let error of [formGroup.controls['password'].errors | getError]" [innerText]="error"></span>
      </mat-error>
    </mat-form-field>

    <!-- תאריך לידה -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>תאריך לידה</mat-label>
      <input
        matInput
        type="date"
        id="birth_date"
        formControlName="birth_date"
        [min]="'1900-01-01'"
        [max]="todayString"
        required>
      <mat-error *ngIf="formGroup.controls['birth_date'].errors">
        תאריך לא תקין או מחוץ לטווח
      </mat-error>
    </mat-form-field>

    <!-- אזור מגורים -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>אזור מגורים</mat-label>
      <mat-select id="region" formControlName="region" required>
        <mat-option *ngFor="let r of regions$ | async" [value]="r.name">
          {{ r.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls['region'].errors | hasErrors: 'region'">
        <span *ngFor="let error of [formGroup.controls['region'].errors | getError]" [innerText]="error"></span>
      </mat-error>
    </mat-form-field>

    <p class="text-red-600 text-sm" [innerHtml]="message"></p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="return()">ביטול</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid"
    (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false" (click)="create()">
    הוסף
  </button>
</mat-dialog-actions>
