<nav class="navbar">
  <ul>
    <img [src]="logo_src" class="logo">
    @for(button of buttons;track button;){
    @if(button.disabled === 'false'){
    <li><a class="active" [innerText]="button.name" routerLink="" (click)="onClick(button.path, button.action)"
        routerLinkActive="active"></a></li>
    }
    @if(button.disabled === 'true'){
    <li><a class="disabled" [innerText]="button.name"></a></li>
    }}
  </ul>
  @let name = user_name |async;
  @if (name!==undefined ) {
  <span [innerText]="name"></span>
  }
</nav>
<div style="height: 9vh;"></div>

<router-outlet></router-outlet>