<div class="table-container">
  <h2 class="table-title">תוצאות המבחן</h2>
  <table>
    <thead>
      <tr>
        <th>כותרת</th>
        <th class="color1">עמודה 1</th>
        <th class="color2">עמודה 2</th>
        <th class="color3">עמודה 3</th>
        <th class="color4">עמודה 4</th>
        <th class="color5">עמודה 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>שורה 1</td>
        <td class="color1">נתון 1</td>
        <td class="color2">נתון 2</td>
        <td class="color3">נתון 3</td>
        <td class="color4">נתון 4</td>
        <td class="color5">נתון 5</td>
      </tr>
      <tr>
        <td>שורה 2</td>
        <td class="color1">נתון 6</td>
        <td class="color2">נתון 7</td>
        <td class="color3">נתון 8</td>
        <td class="color4">נתון 9</td>
        <td class="color5">נתון 10</td>
      </tr>
      <tr>
        <td>שורה 3</td>
        <td class="color1">נתון 11</td>
        <td class="color2">נתון 12</td>
        <td class="color3">נתון 13</td>
        <td class="color4">נתון 14</td>
        <td class="color5">נתון 15</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>סך הכל</td>
        <td class="color1">סך 1</td>
        <td class="color2">סך 2</td>
        <td class="color3">סך 3</td>
        <td class="color4">סך 4</td>
        <td class="color5">סך 5</td>
      </tr>
    </tfoot>
  </table>
</div>