@let part = (part$ | async);
@let status = (stasusTest$ | async);

  @if (status === 'completed') {
  <div class="card-responsive border-red-300 bg-red-50 text-red-700 text-center text-sm md:text-base animate-fade-in-up">
    <p class="break-safe leading-relaxed">
      המבחן הושלם בהצלחה! ניתן לצפות בתוצאות במקטע המתאים.<br>
      לא ניתן לבצע יותר ממבחן אחד.
    </p>
  </div>
}

  @else{
<div class="flex flex-col items-center justify-center min-h-[60vh] p-6 bg-white rounded-2xl shadow-md space-y-6">

  <h1 [innerText]="part?.title" class="text-4xl font-extrabold text-orangeDark text-center tracking-tight leading-snug">
  </h1>

   @if (part?.icon_src) {
  <div>
    <img [src]="part?.icon_src" alt="אייקון" />
  </div>}

  <span [innerText]="part?.description" class="text-orangeMedium text-lg text-center max-w-xl leading-relaxed">
  </span>


  <app-button (click)="start(part!)" [label]="'התחל'"></app-button>

</div>
}