<div class="flex h-screen">
  <app-sidebar></app-sidebar>

  <div class="flex-1">
    @let status = (status$ | async);

    <app-chat-window
      [messages$]="messages$"
      [loading$]="loading$"
      [disabled]="status === 'completed' || status === 'idle' || status === 'processingAnswer' || status === 'categoryCompleted'"
      [completeMassage]="status === 'completed' ? 'הסתיימו השאלות בשלב זה של המבחן,תודה על המענה!' : status === 'categoryCompleted' ? 'הסתיימו השאלות בקטגוריה זו, תודה על המענה, כבר עוברים לקטגוריה הבאה' : ''"
      [error$]="error$"
      (sendMessage)="submitAnswer($event)">
    </app-chat-window>
  </div>
</div>
