<h2 mat-dialog-title class="!text-2xl !font-bold !text-orangeDark text-center mb-4">איפוס סיסמה</h2>

<mat-dialog-content class="p-4 space-y-4 text-right rtl">
  <form [formGroup]="formGroup" class="space-y-4 text-right rtl">

    <mat-form-field appearance="fill" class="w-full text-right">
      <mat-label>הזיני את כתובת האימייל שלך לאימות</mat-label>
      <input matInput type="text" id="email" formControlName="email" required placeholder="הכנסי כתובת אימייל" dir="rtl">
      <mat-error *ngIf="formGroup.get('email')?.invalid && mouseoverLogin" class="text-right rtl">
        שדה חובה
      </mat-error>
    </mat-form-field>

    <p class="text-red-600 text-sm text-right rtl" [innerHtml]="message"></p>

    <div class="flex justify-center pt-2">
      <app-spinner *ngIf="(loading$ | async)"></app-spinner>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-4 flex justify-end gap-4 rtl">
  <app-button [label]="'ביטול'" (click)="onNoClick()" variant="outline"></app-button>

  <app-button
    [label]="'שליחה'"
    [disabled]="formGroup.invalid || (loading$ | async)"
    (mouseenter)="mouseoverLogin=true"
    (mouseleave)="mouseoverLogin=false"
    (click)="send()">
  </app-button>
</mat-dialog-actions>
