<mat-card class="client-card card-responsive space-y-4 text-center animate-fade-in-up">
  <!-- כותרת -->
  <div class="title row justify-center">
    <mat-icon fontSet="material-icons-outlined" class="icon">person</mat-icon>
    <span class="text-wrap text-lg font-semibold">
      {{ client.first_name }} {{ client.last_name }}
    </span>
  </div>

  <!-- פרטי לקוח -->
  <div class="client-info space-y-3">
    <div class="row justify-down flex-wrap text-gray-800">
      <mat-icon fontSet="material-icons-outlined" class="icon ">phone</mat-icon>
      <span class="text-wrap">{{ client.phone }}</span>
    </div>

    <div class="row justify-center flex-wrap text-gray-800">
      <mat-icon fontSet="material-icons-outlined" class="icon">email</mat-icon>
      <span class="text-wrap">{{ client.email }}</span>
    </div>

    <div class="row justify-center flex-wrap text-gray-800">
      <mat-icon fontSet="material-icons-outlined" class="icon">calendar_today</mat-icon>
      <span class="text-wrap">{{ client.birth_date }}</span>
    </div>

    @if (client.dominant_type_id) {
      <div class="row justify-center flex-wrap text-gray-800">
        <mat-icon fontSet="material-icons-outlined" class="icon">label</mat-icon>
        <span class="text-wrap">
          {{ typeName$ | async }}
        </span>
      </div>
    }
  </div>

  <!-- כפתורים -->
  <div class="client-actions mt-4 flex flex-wrap justify-center gap-3">
    <app-button [label]="'תוצאות'" (click)="viewResults()">
      <mat-icon fontSet="material-icons-outlined" class="icon">bar_chart</mat-icon>
    </app-button>

    <app-button [label]="'עריכה'" (click)="set()">
      <mat-icon fontSet="material-icons-outlined" class="icon">edit</mat-icon>
    </app-button>

    <app-button [label]="'מחיקה'" (click)="delete()">
      <mat-icon fontSet="material-icons-outlined" class="icon">delete</mat-icon>
    </app-button>
  </div>
</mat-card>
